.search {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0,0,0, .5);
  border-radius: 8px;
  padding: 0 16px;
  background-color: #fff;

  &:focus-within {
    border: 1px solid transparent;
    box-shadow: none;
  }

  .character__bg {
    border-radius: 10px;
  }

  &:focus-within .character__bg {
    opacity: 1;
  }

  &__icon {
    transition: color .25s;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.54);
    flex-shrink: 0;
    font-size: 20px;
  }

  &__clear-button {
    @extend %btn, %btn-accent;
    margin-left: 8px;
    width: 25px;
    padding: 2px;
    font-size: 16px;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    justify-content: center;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 15px 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    color: rgb(32 55 69);
    &:focus {
      outline: none;
    }

    &:not(:placeholder-shown) {
      letter-spacing: 0.7px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-4px, -4px);
  }
  50% {
    transform: translate(-8px, 0px);
  }
  75% {
    transform: translate(-4px, 4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
