$accent-color: rgb(0, 176, 200);
$secondary-color: rgb(100, 245, 71);
$secondary-light: rgba(100, 245, 71, 0.705);
$secondary-hover: rgb(69, 218, 40);
$button-color: rgba(0, 0, 0, 0.705);
$loading-grey: #ededed;
$gapX: 20px;
$gapY: 24px;

* {
  box-sizing: border-box;
}

html {
  @media (min-width: 959px) {
    scrollbar-gutter: stable;
  }
}

header {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 61px;
  @media (max-width: 480px) {
    margin-bottom: 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  user-select: none;
  transition: all 0.25s;
  color: $button-color;
  font-weight: 600;
  letter-spacing: 0.6px;
  &:disabled {
    background-color: #eceef0;
    pointer-events: none;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.97);
  }
}

%btn-accent {
  &:not(:disabled) {
    border: 1px solid $accent-color;
    background-color: $secondary-light;
    box-shadow: 0 0 5px $secondary-color;
    &:hover {
      background-color: $secondary-hover;
    }
  }
}

.container {
  position: relative;
  max-width: 1060px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: 380px) {
    padding: 0 24px;
  }
}

.logo {
  max-height: 200px;
  margin: 0 auto 16px;
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: 100px auto;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #dfc;
  border-color: #dfc transparent #dfc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@import './SearchBar/SearchBar.scss';
@import './CharCard/CharCard.scss';
@import './SkeletonList/SkeletonList.scss';
@import './CharDetails/CharDetails.scss';
@import './CharList/CharList.scss';
@import './ErrorMessage/ErrorMessage.scss';
@import './Pagination/Paginations.scss';
@import './Profile/Profile.scss';
